body{
    background: rgb(99, 38, 71);
    background-size:cover;
    background-position:center;
    text-align:center;
    font-size:20px;
  }

  button {
    padding: 7px;
    border-radius:7px;
    font-weight: bolder;
     background: rgb(77, 156, 117);
    text-align: center;
  }
  
  input{
    margin:10px;
    padding: 7px;
    border-radius:7px;
    font-weight: bolder;
     background: rgb(90, 119, 143);
    text-align: center;
    border: none;
  }

  label{
     color :rgb(235, 243, 233);
  }